<h1>Editing Remove Marque Form Voiture</h1>

<%= render 'form', remove_marque_form_voiture: @remove_marque_form_voiture %>

<%= link_to 'Show', @remove_marque_form_voiture %> |
<%= link_to 'Back', remove_marque_form_voitures_path %>
