<p id="notice"><%= notice %></p>

<p>
  <strong>Marque:</strong>
  <%= @remove_marque_form_voiture.marque %>
</p>

<%= link_to 'Edit', edit_remove_marque_form_voiture_path(@remove_marque_form_voiture) %> |
<%= link_to 'Back', remove_marque_form_voitures_path %>
